body {
    margin:0;
    overflow:hidden;
    font-family: Arial, sans-serif;
}

canvas {
    display:block;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    z-index: 10;
}
